@{
    ViewBag.Title = "Successfully Uploaded";
}

<h2>Successfully Uploaded</h2>

<table>
    @foreach (string area in TempData["Areas"] as IEnumerable<string>)
    {
        <tr>
            <td>@area</td>
        </tr>
    }
    @Html.ActionLink("Areas", "Index", "Areas")
</table>